@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Take an Adventure from the list below</h2>

    <ol style="display: inline-block">
        @foreach (var adventure in Model.Adventures)
        {
            <li>
                <div>
                    <div style="">@adventure.Name</div>
                    <div style="">@Html.ActionLink("Start", "Game", "Home", new { adventureId = adventure.Id, nextNodeId = string.Empty })</div>
                    <div style="">@Html.ActionLink("Tree", "Index", "Tree", new { adventureId = adventure.Id })</div>
                </div>
            </li>
        }
    </ol>
</div>
